
img{
    vertical-align: middle;
}

/*master logo style*/
.text-center{
    text-align: center;
}

.masterlogo{
    width: 100%;
    transition: 0.5s;
    height: auto;
    max-width: 430px;
    margin: 0px auto;
}
